<div *ngIf="status() === false" class="bg-test">
  <mat-toolbar class="nav-bg-color">
    <mat-toolbar-row class="container justify-content-between">
      <div>
        <a href="">Vitic Apartmani</a>
      </div>
      <div>
        <a href="#apartmani">Apartmani</a>
        <a href="#ucestalapitanja">Ucestala Pitanja</a>
        <a href="#rezervisi">Rezervisi</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div *ngIf="status() === true" class="bg-test">
  <mat-toolbar class="nav-bg-color">
    <mat-toolbar-row class="container justify-content-between">
      <div>
        <a href="">Vitic Apartmani</a>
      </div>
      <div>
        <a [routerLink]="['/list']">Apartmani</a>
        <a [routerLink]="['/faq']">Ucestala Pitanja</a>
        <a [routerLink]="['/upiti']">Upiti Gostiju</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
